*{
	margin:0px;
	padding:0px;
}
h2{
	font-size:1.5em;
}
.cleaner{
	clear:both;
}
.okvir{
	width:1000px;
	margin:0px auto;
	
}
body{
	font-family:Arial;
	background-color:#fff;
}
a{
	text-decoration:none;
	color:#000;
}
header{
	width:100%;
	height:80px;
	background-color:#fff;
	box-shadow: 4px 4px 5px #e08e26;
}
#logo{
	float:left;
	height:inherit;
	width:80px;
}
#meni{
	float:right;
}
#meni ul li{
	float:left;
	display:block;
	margin-top:35px;
	margin-left:20px;
	text-align:center;	
}
#meni ul li a:hover{
	font-size:1.2em;
}

#meni ul li a{
	padding:20px 0px;
}
#meni .aktivanLink{
	border-top:5px solid #e08e26;
	margin-top:0px;
	padding-top: 30px;
}
.slajder{
	width:100%;
	height:500px;
	margin-top:5px;
	background-image:url("../img/vejvoda-pozadinska.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:fixed;
}
#traka{
	width:100%;
	height:250px;
	background-color:#e08e26;
}

#levoTraka{
	width:40%;
	float:left;
	margin-top:50px;
	
}
#levoTraka p{
	float:right;
	text-align:right;
	width:250px;
	margin-top:45px;
}

#desnoTraka{
	width:40%;
	float:right;
	margin-top:50px;
}
#desnoTraka img{
	float:right;
}
#desnoTraka p{
	float:left;
	text-align:left;
	width:250px;
	margin-top:45px;
}
#sredina{
	width:100%;
	height:400px;
	margin-top:10px;
	text-align:center;
}
#sredinaLevo{
	width:33%;
	float:left;
	text-align:center;
}
#sredinaSredina{
	width:33%;
	float:left;
	text-align:center;
}

#sredinaDesno{
	width:33%;
	float:right;
}
#sredina p {
	margin-top:10px;
}
.slicka img{
	border-radius:50px;
}
.okvir h1{
	font-size:2em;
	margin-bottom:10px;
	text-align:center;
	padding-top:10px;
	margin-bottom:10px;
}
#ponuda{
	width:100%;
	height:400px;
	background-color:#e08e26;
}
.ponudaSlika{
	width:33%;
	float:left;
	text-align:center;
	font-weight:bold;
	margin-top:50px;
}
.ponudaSlika img {
	border-radius:30px;
	margin-bottom:10px;
}
.ponudaSlika img:hover{
	transform:scale(1.1,1.1);
}
footer{
	height:100px;
	background-color:#929191;
}
#copyright{
	float:left;
	margin-top:45px;
}
.soc{
	width:60px;
	height:60px;
	display:block;
	float:right;
	margin-top:25px;
	margin-left:5px;
}
.klik{
	width:60px;
	height:60px;
	display:block;
	background-image:url("../img/ikonice.png");
	background-repeat:no-repeat;
}
#klikFB{
	background-position:-22px -10px;
}
#klikIG{
	background-position:-318px -158px;
}
#klikTW{
	background-position:-22px -84px;
}
#klikRSS{
	background-position:-97px -10px;
}
#htmlPivo{
	background-image:url("../img/pivo.jpg");
	height:600px;
}
article{
	padding:10px 0px 10px 0px;
	width:100%;
}
.centrirajh2{
	text-align:center;
	font-family: 'Chakra Petch', sans-serif;
}
#brisiTacke{
	list-style-type:none;
	margin-left:15px;
}
.boja{
	background-color:#e08e26;
}
#htmlKlopa{
	background-image:url("../img/vejvod-hasikrigla.jpg");
	height:400px;
}
#bodyKlopa{
	background-color:#e08e26;
}
.has{
	width:33%;
	height:400px;
	float:left;
	text-align:center;
}
.has h2{
	margin:15px 0px 15px 0px;
	font-size:1em;
	font-weight:normal;
}
.has p{
	font-weight:bold;
}
.has img{
	border-radius:30px;
}
#jelo{
	text-align:center;
	font-size:2em;
	margin-bottom:15px;
}
#htmlCenovnik{
	background-image:url("../img/perece.jpg");
	height:400px;
}
#cenovnik{
	background-color:#e08e26;
}
#pivovnik{
	background-color:#e08e26;
	font-size:1.4em;
	color:#001070;
	float:left;
}
#akcije{
	width:45%;
	height:400px;
	float:left;
	margin-left:35px;
	margin-top:100px;
}
#akcije h1{
	font-family: 'Chakra Petch', sans-serif;
	font-size:2.5em;
}
#akcije h2{
	font-weight:500;
}
#nulapet{
	margin-top:50px;
	text-transform:uppercase;
}
#kontaktStrana{
	background-color:#e08e26;
	width:100%;
	height:400px;
}
.kontaktSredina{
	width:48%;
	margin-top:25px;
	margin-left:10px;
	height:350px;
	float:left;
	text-align:center;
	border:4px solid black;
	border-radius:30px;
}
.kontaktSredina h2{
	margin-top:25px;
}
.kontaktSredina h1{
	font-family: 'Chakra Petch', sans-serif;
	font-weight:bold;
	font-size:2.5em;
}
#formSekcija{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
#formSekcija td{
	font-size:1.2em;
}
#formSekcija th{
	font-size:1.5em;
}

input[type='text'], input[type='email'], input[type='password'], select, input[type='submit'], input[type='reset']{
	font-size:20px;
}
#htmlAutor{
	background-image:url("../img/tociona.jpg");
}
#bodyAutor{
	background-color:#e08e26;
}
#autor{
	float:left;
	margin-top:5px;
}
#autorTxt{
	width:690px;
	float:left;
	text-align:center;
	padding-left:10px;
}
#autorTxt h1{
	font-size:2.8em;
	font-family: 'Chakra Petch', sans-serif;
}
#autorTxt h2{
	font-size:1.4em;
	font-weight:500;
	margin-top:100px;
}












